@import url('https://fonts.googleapis.com/css?family=Lora:500,500i,700,700i&display=swap');


@font-face {
    font-family: PangramSans;
    src: url("../type/PPPangramSansRounded-Medium.otf") format("opentype");
}

@font-face {
    font-family: PangramSans;
    src: url("../type/PPPangramSansRounded-Bold.otf") format("opentype");
    font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 1.5;
}

body {
  color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "PangramSans";
}


a:hover,
a:focus {
  text-decoration: underline;

}
  

strong {
  color: inherit;
}


.container{
  display: grid;
  place-content: baseline center;
  gap: 1ch;
  z-index: 5;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 92vh;
}

@media only screen and (min-width: 768px) {
  .center {
    padding-top: 2vh;
    width: 40vw;
  }
}
@media only screen and (max-width: 768px)  {
  .center {
    padding-top: 3vh;
    width: 85vw;
  }
  .container {
    height: 90vh;
  }
}

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 90%;
}



form { 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 1em;
}

@media only screen and (max-width: 768px)  {
  form {
    grid-template-columns: 1fr;
    grid-row-gap: .5em;
  }
}

.email-input {
  width: auto;
  display: inline-block;
}


.formEmailButton { 
  color: #fff;
  border: solid rgb(35,68,153);
  background-color: rgb(35,68,153);
}

/* type */

label {
  font-family: "PangramSans";
}

input {
  font-family: "PangramSans";
}

li {
  line-height: 1.5;
  line-height: 2rem;
}

time {
  text-decoration: none;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  position: relative;
  font-family: "PangramSans";

}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "PangramSans";
  font-size: 1rem;
  line-height: 1.5rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 10vh;
  list-style-type: none;
  padding-inline-start: 0px;
}



* {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #234499, #3968E0, #0066FF, #1F4EC7);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  z-index:0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: .5;
  animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

section .wave.wave3 {
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: .2;
  animation-delay: -2s;
  bottom: 20px;
}


section .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: .7;
  animation-delay: -5s;
  bottom: 20px;
}

