@import url('https://fonts.googleapis.com/css?family=Lora:500,500i,700,700i&display=swap');

// Color scheme for light and dark modes.

$light: rgb(35,68,153);
$dark: rgb(35,68,153);

// Highlighting color for code block borders and language name.

$code-light: #f76b48;
$code-dark: #d0f6db;

$message-green: #62bb47;
$message-yellow: #fcb827;
$message-orange: #f6821f;
$message-red: #e03940;
$message-purple: #953c96;
$message-blue: #009ddc;

$lora: "Lora", serif;

$root-font-family: proxima-nova, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: rgb(35,68,153);
$body-bg: #ffedd6;
$body-color-dark: #234499;
$body-bg-dark: #ffedd6;

$large-breakpoint: 38em;
$large-font-size: 20px;
